# OS
.DS_Store
Thumbs.db

# Environment
.env*
!.env.example

# Node
node_modules/
.pnp.*
.yarn/*

# Next.js
.next/
out/
build/

# Vercel
.vercel/

# IDE
.vscode/
.idea/

# Debug
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
